.striked {
  text-decoration: underline;
 
}


.home{
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2rem ;
  color:rgb(255, 255, 255);
}

.conte{
 padding: 2rem;
 margin-right: 4rem;
 margin-left: 4rem;
 background-color: rgb(255, 255, 255, .5);
 color:black;
 font-weight: lighter;
 display: flex;
 justify-content: center;
 align-items: center;
}

 div .img{
  padding: 2rem;
  padding: 2rem;
  max-width: 300px;
  max-height: 300px;
  
}