.Footer{
  display: flex;  
  align-items: row;
  align-content: center;
  justify-content: center;
  margin: 0rem;
  padding: 1rem;
  background-color:rgb(32, 103, 235);
  color: rgb(255, 255, 255);
  font-size: bold;
}